* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg: #000;
	--fg: #fff;
}

body {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	text-align: center;
	line-height: 1.5;
	max-width: 780px;
	width: 95%;
	margin: 2em auto;
	background-color: var(--bg);
	color: var(--fg);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	font-family: 'Secular One', sans-serif;
	font-size: 3rem;
	line-height: 1.1;
}

.button {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 700;
	padding: 1em 1.6em;
	border: 2px solid var(--fg);
	cursor: pointer;
	color: var(--fg);
	background-color: var(--bg);
}

.button:hover {
	color: var(--bg);
	background-color: var(--fg);
}

.button:active {
	transform: translateY(3px);
}

img {
	width: 150px;
	margin-top: 6em;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
}

img:active {
	transform: scale(1.2);
}

#box {
	margin-top: 3em;
	display: flex;
	justify-content: space-evenly;
}

.container-score {
	display: flex;
}

.container-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

p {
	font-size: 1.4rem;
}

.score {
	padding: 1em 4em 1em 0;
}

h2 {
	font-size: 2.2rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 1.5em;
}

h3 {
	font-size: 1.8rem;
	text-transform: uppercase;
}

@media (max-width: 520px) {
	header {
		flex-direction: column;
	}

	header h1 {
		margin-bottom: 1em;
	}

	img {
		margin-top: 3em;
	}

	.rps {
		width: 25%;
	}

	#rock {
		width: 30%;
	}

	#box {
		flex-direction: column;
		align-items: center;
		margin-top: 1em;
	}

	.score {
		padding: 0 2em;
	}

	.container-info {
		margin-top: 1em;
	}

	h3 {
		margin-top: 1em;
	}
}
